/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
/*.flip-container:hover .flipper,*/
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.back,
.front {
  width: 200px;
  height: 280px;
}

/* flip speed goes here */
.flipper {
  transition: 2s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide front of pane during swap */
.back,
.front {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* back pane, placed above front */
.back {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* front, initially hidden pane */
.front {
  transform: rotateY(180deg);
  border:1px solid;
}


/**/
#playTable {
  position: absolute;
  top: 450px;
  left: 996px;
}
.card{
  width:200px;
  height:280px;
  position: fixed;
  bottom:0;
  right:0;
  transition: 2s;
}

.cardsPlaceholder{
  border:3px solid;
  width:250px;
  height: 300px;;
  margin:20px;
  display: inline-block;
}
.back {
    background: url('./assets/playing-card2.jpg');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;  
   
}