/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
/*.flip-container:hover .flipper,*/
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.back,
.front {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide front of pane during swap */
.back,
.front {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* back pane, placed above front */
.back {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* front, initially hidden pane */
.front {
  transform: rotateY(180deg);
}


/**/


div#deck {
    position: absolute;
    bottom: 0;
    right: 0;
}

.back {
    background: url('./assets/playing-card2.jpg');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;  
}